# Don't take stl files from the openscad folder
openscad/*.stl
# Do allow them in the stl folder though

# Ignore gcode files
*.g
*.gcode

# Ignore VIM swap files
*.swp

# Ignore zip files in the documentation dir
docs/*.zip
builds/*.zip

.DS_Store
